.imglogo {
    max-width: 20%;
 }
 .navbar-brand {
    max-width: 20%;
}
.border-bottom {
    border-bottom: 3px solid #1b5a85  !important;
}
#menuNavbar{
    width: 60%;
}


@media (min-width: 768px){
    .imglogo {
        max-width: 70%;
    }
}
